<div class="card">
  <div class="card-header card-header-text card-header-primary">
    <div class="card-text">
      <h4 class="card-title">Históricos Compartilhados</h4>
    </div>
  </div>
  <div class="card-body">
    <% if @shareds.any? %>
      <table class="table table-hover table-respoonsive">
        <thead>
          <tr>
            <th>Profissional</th>
            <th>Data de ínicio</th>
            <th>Data de termino</th>
          </tr>
        </thead>
        <tbody>
          <% @shareds.each do |shared| %>
            <tr>
              <td><%= shared.professional.email %></td>
              <td><%= date_format_short(shared.created_at) %></td>
              <td><%= date_format_short(shared.duedate) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="alert alert-info mt-2">
        Nenhum histórico compartilhado.
      </div>
    <% end %>
  </div>
</div>
