<div class="card">
  <div class="card-header card-header-text card-header-primary">
    <div class="card-text">
      <h4 class="card-title">Novo Compartilhamento</h4>
    </div>

    <div class="card-text float-right rounded-30 p-2">
      <%= link_to shareds_path, class: "text-white", title: "Voltar" do %>
        <i class="material-icons">keyboard_backspace</i>
      <% end %>
    </div>
  </div>

  <%= render 'form', shared: @shared %>
</div>
