<div class="col-md-7">
<h2 class="font-weight-bold">Health History</h2>
  <h4 class="font-weight-bold">Já pensou em ter todos os seus exames, consultas e receitas em um só lugar?</h4>
  <h4 class="font-weight-bold">Com o Health History você pode, e ainda vai além.</h4>
  <h4 class="font-weight-bold">Com ele você gerencia tudo isso de forma fácil e segura e ajuda a ter o melhor diagnóstico possível.</h4>
</div>
