<div class="container">
  <div>
      <table>
        <tr>
          <td>
            <p>OneBitHealth/p>
          <td>
          </td>
          <td>
          <% if user_signed_in? %>
            <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
          <% end %>
          </td>
        </tr>
      </table>
  </div>
</div>
