/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require material/material-dashboard.css
 *= require material/demo.css
 */

.alert-notify {
  display: inline-block;
  margin: 0px auto;
  position: fixed;
  z-index: 2000;
  bottom: 20px;
  left: 0px;
  right: 0px;
  max-width: 600px;
  width: calc(100% - 30px);
  padding-right: 80px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  color: rgba(255,255,255,0.85);
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.background-body {
  background-image: url("background1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-logo {
  background-image: url("logo.png");
  width: 20px;
}
