/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require material/material-dashboard.css
 *= require material/demo.css
 */

.alert-notify {
  display: inline-block;
  margin: 0px auto;
  position: fixed;
  z-index: 2000;
  bottom: 20px;
  left: 0px;
  right: 0px;
  max-width: 600px;
  width: calc(100% - 30px);
  padding-right: 80px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  color: rgba(255,255,255,0.85);
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.background-body {
  background-image: url("background1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-logo {
  background-image: url("logo.png");
  width: 20px;
}

.btn-action-add {
  position: fixed !important;
  bottom: 30px;
  right: 30px;
}

.rounded-30 {
  border-radius: 30px;
}

.sidebar-lateral-left {
  z-index: 4;
  top: 77px;
  left: -260px;
  position: fixed;
  transition: 1s;
}

.sidebar-lateral-right {
  left: 0px !important;
}

.border-radius-none {
  border-radius: 0px;;
}

.cursor-pointer {
  cursor: pointer;
}

.card-footer > .stats > .font-icon {
  font-size: 22px !important;
  top: -2px !important;
}

.card-icon > .text-hedar {
  position: relative;
  top: -4px;
}

.card-stats > .stats > .icon-sm {
  font-size: 17px !important;
}

.card-stats > .stats > .text-stats {
  font-size: 12px !important;
  position: relative;
  top: -1px;
  left: 4px;
}

.card-header > .card-header-text {
  position: relative;
  top: -4px;
  right: 15px;
}

.card-select:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card-select {
  transition:
    .3s transform cubic-bezier(.155,1.105,.295,1.12),
    .3s box-shadow,
    .3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.padding-top-6 {
  padding-top: 6rem;
}
