<div class="sidebar sidebar-lateral-left" id="sidebar-lateral">
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="material-icons">history_edu</i>
          <p>Meu histórico</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="material-icons">share</i>
          <p>Históricos compartilhados</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= exams_path %>">
          <i class="material-icons">content_paste</i>
          <p>Exames</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= treatments_path %>">
          <i class="material-icons">medical_services</i>
          <p>Tratamentos</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= appointments_path %>">
          <i class="material-icons">local_library</i>
          <p>Consultas</p>
        </a>
      </li>
    </ul>
  </div>
</div>
